USE [master]
GO
/****** Object:  Database [SportsMeeting]    Script Date: 2019-1-4 17:44:30 ******/
CREATE DATABASE [SportsMeeting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SportsMeeting', FILENAME = N'F:\项目数据库\运动会管理系统\SportsMeeting.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SportsMeeting_log', FILENAME = N'F:\项目数据库\运动会管理系统\SportsMeeting_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SportsMeeting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SportsMeeting]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2019-1-4 17:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Pwd] [varchar](20) NULL,
	[OperTime] [datetime] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[News]    Script Date: 2019-1-4 17:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](20) NULL,
	[Content] [text] NULL,
	[ClickNum] [int] NULL,
	[OperTime] [datetime] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Referee]    Script Date: 2019-1-4 17:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Referee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Pwd] [varchar](20) NULL,
	[OperTime] [datetime] NULL,
 CONSTRAINT [PK_Referee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SignUp]    Script Date: 2019-1-4 17:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SignUp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NULL,
	[ManId] [int] NULL,
	[FirstScore] [varchar](50) NULL,
	[FinalScore] [varchar](50) NULL,
	[OperTime] [datetime] NULL,
 CONSTRAINT [PK_SignUp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SportsItem]    Script Date: 2019-1-4 17:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SportsItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Type] [varchar](20) NULL,
	[RefereeId] [int] NULL,
	[FirstTime] [datetime] NULL,
	[FinalTime] [datetime] NULL,
	[OperTime] [datetime] NULL,
 CONSTRAINT [PK_SportsItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SportsMan]    Script Date: 2019-1-4 17:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SportsMan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Age] [varchar](20) NULL,
	[Sex] [varchar](20) NULL,
	[Team] [varchar](20) NULL,
	[Class] [varchar](20) NULL,
	[OperTime] [datetime] NULL,
 CONSTRAINT [PK_Athletes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SignUp]  WITH CHECK ADD  CONSTRAINT [FK_SignUp_SportsItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[SportsItem] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SignUp] CHECK CONSTRAINT [FK_SignUp_SportsItem]
GO
ALTER TABLE [dbo].[SignUp]  WITH CHECK ADD  CONSTRAINT [FK_SignUp_SportsMan] FOREIGN KEY([ManId])
REFERENCES [dbo].[SportsMan] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SignUp] CHECK CONSTRAINT [FK_SignUp_SportsMan]
GO
ALTER TABLE [dbo].[SportsItem]  WITH CHECK ADD  CONSTRAINT [FK_SportsItem_Referee] FOREIGN KEY([RefereeId])
REFERENCES [dbo].[Referee] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SportsItem] CHECK CONSTRAINT [FK_SportsItem_Referee]
GO
USE [master]
GO
